@font-face {
   font-family: Altair-Ultra-trial;
   src: url(../fonts/altair/Altair-Ultra-trial.ttf);   
}

@font-face {
   font-family: Altair-Ultra-Italic-trial;
   src: url(../fonts/altair/Altair-Ultra-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Thin-trial;
   src: url(../fonts/altair/Altair-Thin-trial.ttf);   
}

@font-face {
   font-family: Altair-Thin-Italic-trial;
   src: url(../fonts/altair/Altair-Thin-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Regular-trial;
   src: url(../fonts/altair/Altair-Regular-trial.ttf);   
}

@font-face {
   font-family: Altair-Light-trial;
   src: url(../fonts/altair/Altair-Light-trial.ttf);   
}

@font-face {
   font-family: Altair-Light-Italic-trial;
   src: url(../fonts/altair/Altair-Light-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Italic-trial;
   src: url(../fonts/altair/Altair-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Heavy-trial;
   src: url(../fonts/altair/Altair-Heavy-trial.ttf);   
}

@font-face {
   font-family: Altair-Heavy-Italic-trial;
   src: url(../fonts/altair/Altair-Heavy-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Extrabold-trial;
   src: url(../fonts/altair/Altair-Extrabold-trial.ttf);   
}

@font-face {
   font-family: Altair-Extrabold-Italic-trial;
   src: url(../fonts/altair/Altair-Extrabold-Italic-trial.ttf);   
}

@font-face {
   font-family: Altair-Bold-trial;
   src: url(../fonts/altair/Altair-Bold-trial.ttf);   
}

@font-face {
   font-family: Altair-Bold-Italic-trial;
   src: url(../fonts/altair/Altair-Bold-Italic-trial.ttf);   
}

@font-face {
   font-family: Breetty-Italic;
   src: url(../fonts/breetty/Breetty-Italic.otf);   
}

@font-face {
   font-family: Breetty-Regular;
   src: url(../fonts/breetty/Breetty-Regular.otf);    
}
